In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.read_csv('ch05_03.csv', index_col=['color','status'])

              item1  item2  item3
color status
black up          3      4      6
      down        2      6      7
white up          5      5      5
      down        3      3      2
      left        1      2      1
red   up          2      2      2
      down        1      1      4