In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.datasets import fetch_openml

In [49]:
# Load the Boston Housing Dataset using fetch_openml
boston = fetch_openml(data_id=506)
boston

c:\Users\tien2\miniconda3\lib\site-packages\sklearn\datasets\_openml.py:1002: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

{'data':     Married  Age  Years_of_education Male Religious  Sex_partners   Income  \
 0         1   52                  14    0         1             1  32500.0
 1         0   58                  16    0         1             0  21250.0
 2         0   22                  14    1         1            15   2000.0
 3         1   35                  14    1         1             5  21250.0
 4         0   43                  20    1         1             1  67500.0
 ..      ...  ...                 ...  ...       ...           ...      ...
 154       1   41                  19    1         0             1  27500.0
 155       1   29                  14    0         1             1  27500.0
 156       0   45                  12    1         1             1  16250.0
 157       1   35                  12    1         1             1  55000.0
 158       1   47                  12    0         1             1    500.0

     Drug_use Same_sex_relations
 0          0                  0
 1          0                  0
 2          0                  0
 3          0                  0
 4          0                  0
 ..       ...                ...
 154        0                  0
 155        0                  0
 156        0                  0
 157        0                  0
 158        0                  0

 [159 rows x 9 columns],
 'target': 0      0
 1      2
 2      0
 3      0
 4      0
       ..
 154    0
 155    0
 156    0
 157    0
 158    1
 Name: AIDS_know, Length: 159, dtype: int64,
 'frame':     Married  Age  Years_of_education Male Religious  Sex_partners   Income  \
 0         1   52                  14    0         1             1  32500.0
 1         0   58                  16    0         1             0  21250.0
 2         0   22                  14    1         1            15   2000.0
 3         1   35                  14    1         1             5  21250.0
 4         0   43                  20    1         1             1  67500.0
 ..      ...  ...                 ...  ...       ...           ...      ...
 154       1   41                  19    1         0             1  27500.0
 155       1   29                  14    0         1             1  27500.0
 156       0   45                  12    1         1             1  16250.0
 157       1   35                  12    1         1             1  55000.0
 158       1   47                  12    0         1             1    500.0

     Drug_use Same_sex_relations  AIDS_know
 0          0                  0          0
 1          0                  0          2
 2          0                  0          0
 3          0                  0          0
 4          0                  0          0
 ..       ...                ...        ...
 154        0                  0          0
 155        0                  0          0
 156        0                  0          0
 157        0                  0          0
 158        0                  0          1

 [159 rows x 10 columns],
 'categories': None,
 'feature_names': ['Married',
  'Age',
  'Years_of_education',
  'Male',
  'Religious',
  'Sex_partners',
  'Income',
  'Drug_use',
  'Same_sex_relations'],
 'target_names': ['AIDS_know'],
 'DESCR': '**Author**:   \n**Source**: Unknown - Date unknown  \n**Please cite**:   \n\nanalcatdata    A collection of data sets used in the book "Analyzing Categorical Data,"\nby Jeffrey S. Simonoff, Springer-Verlag, New York, 2003. The submission\nconsists of a zip file containing two versions of each of 84 data sets,\nplus this README file. Each data set is given in comma-delimited ASCII\n(.csv) form, and Microsoft Excel (.xls) form.\n\nNOTICE: These data sets may be used freely for scientific, educational and/or\nnoncommercial purposes, provided suitable acknowledgment is given (by citing\nthe above-named reference).\n\nFurther details concerning the book, including information on statistical software\n(including sample S-PLUS/R and SAS code), are available at the web site\n\nhttp://www.stern.nyu.edu/~jsimonof/AnalCatData\n\n\nInformation about the dataset\nCLASSTYPE: numeric\nCLASSINDEX: last\n\n\nNote: Quotes, Single-Quotes and Backslashes were removed, Blanks replaced\nwith Underscores\n\nDownloaded from openml.org.',
 'details': {'id': '506',
  'name': 'analcatdata_gsssexsurvey',
  'version': '1',
  'description_version': '1',
  'format': 'ARFF',
  'creator': 'Jeffrey S. Simonoff',
  'collection_date': '2003',
  'upload_date': '2014-09-29T00:07:15',
  'language': 'English',
  'licence': 'Public',
  'url': 'https://api.openml.org/data/v1/download/52618/analcatdata_gsssexsurvey.arff',
  'parquet_url': 'http://openml1.win.tue.nl/dataset506/dataset_506.pq',
  'file_id': '52618',
  'default_target_attribute': 'AIDS_know',
  'citation': 'Jeffrey S. Simonoff, Springer-Verlag, New York, 2003',
  'visibility': 'public',
  'original_data_url': 'http://www.stern.nyu.edu/~jsimonof/AnalCatData',
  'minio_url': 'http://openml1.win.tue.nl/dataset506/dataset_506.pq',
  'status': 'active',
  'processing_date': '2020-11-20 19:45:07',
  'md5_checksum': '20f8e3ca05aa824521dc28be7b5d0197'},
 'url': 'https://www.openml.org/d/506'}

In [50]:
# Convert the data to a DataFrame
data = pd.DataFrame(data=boston.data, columns=boston.feature_names)
data['MEDV'] = boston.target

In [51]:
# Separate features (X) and target (y)
X = data.drop('MEDV', axis=1)
y = data['MEDV']

In [52]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [53]:
X_train = X_train.dropna()
X_test = X_test.dropna()
y_train = y_train.dropna()
y_test = y_test.dropna()

In [ ]:
# Create and fit the Linear Regression model
model = LinearRegression()
model.fit(X=X_train,y=y_train)

In [ ]:
# Make predictions on the testing set
y_pred = model.predict(X_test)

# Calculate the mean squared error
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse:.2f}")

# Display coefficients and intercept
print("Coefficients:", model.coef_)
print("Intercept:", model.intercept_)