In [47]:
import numpy as np
import pandas as pd

In [48]:
def check_bmi(bmi):
    if bmi < 18.5:
        return 'Underweight'
    elif bmi < 25:
        return 'Normal weight'
    elif bmi < 30:
        return 'Overweight'

In [49]:
names = np.array(['Ann', 'Joe', 'Mark'])
heights = np.array([1.5, 1.78, 1.6])
weights = np.array([65, 46, 59])

In [50]:
bmi = weights / heights ** 2
bmi

array([28.88888889, 14.51836889, 23.046875  ])

In [51]:
df = pd.DataFrame({'Name': names, 'Height': heights, 'Weight': weights, 'BMI': bmi})
df

   Name  Height  Weight        BMI
0   Ann    1.50      65  28.888889
1   Joe    1.78      46  14.518369
2  Mark    1.60      59  23.046875

In [52]:
classify = np.vectorize(check_bmi)
classify(bmi)

array(['Overweight', 'Underweight', 'Normal weight'], dtype='<U13')

In [53]:
df2 = pd.DataFrame({
  'Name': names, 
  'Height': heights, 
  'Weight': weights, 
  'BMI': bmi, 
  'Classify': classify(bmi)})
df2

   Name  Height  Weight        BMI       Classify
0   Ann    1.50      65  28.888889     Overweight
1   Joe    1.78      46  14.518369    Underweight
2  Mark    1.60      59  23.046875  Normal weight

In [54]:
data = pd.read_csv('data/no1_7.csv')
data

      name  height  weight
0    anhnt    1.66      72
1  vphuong    1.78      65
2       vu    1.68      60
3      nam    1.69      65
4  dphuong    1.67      60

In [57]:
bmi = weights / heights ** 2
bmi

array([26.12861083, 20.51508648, 21.2585034 , 22.75830678, 21.51385851])

In [58]:
names = data['name'].values
heights = data['height'].values
weights = data['weight'].values

In [59]:
df3 = pd.DataFrame({
  'Name': names,
  'Height': heights,
  'Weight': weights,
  'BMI': bmi,
  'Classify': classify(bmi)})
df3

      Name  Height  Weight        BMI       Classify
0    anhnt    1.66      72  26.128611     Overweight
1  vphuong    1.78      65  20.515086  Normal weight
2       vu    1.68      60  21.258503  Normal weight
3      nam    1.69      65  22.758307  Normal weight
4  dphuong    1.67      60  21.513859  Normal weight