In [8]:
import numpy as np
import pandas as pd

In [3]:
names = np.array(['Ann', 'Joe', 'Mark'])
heights = np.array([1.5, 1.78, 1.6])
weights = np.array([65, 46, 59])

In [7]:
bmi = weights / heights ** 2
bmi

array([28.88888889, 14.51836889, 23.046875  ])

In [12]:
df = pd.DataFrame({'Name': names, 'Height': heights, 'Weight': weights, 'BMI': bmi})
df

   Name  Height  Weight        BMI
0   Ann    1.50      65  28.888889
1   Joe    1.78      46  14.518369
2  Mark    1.60      59  23.046875

In [22]:
def check_bmi(bmi):
    if bmi < 18.5:
        return 'Underweight'
    elif bmi < 25:
        return 'Normal weight'
    elif bmi < 30:
        return 'Overweight'

In [23]:
classify = np.vectorize(check_bmi)
classify(bmi)

array(['Overweight', 'Underweight', 'Normal weight'], dtype='<U13')

In [24]:
df2 = pd.DataFrame({
  'Name': names, 
  'Height': heights, 
  'Weight': weights, 
  'BMI': bmi, 
  'Classify': classify(bmi)})
df2

   Name  Height  Weight        BMI       Classify
0   Ann    1.50      65  28.888889     Overweight
1   Joe    1.78      46  14.518369    Underweight
2  Mark    1.60      59  23.046875  Normal weight