In [2]:
import pandas as pd

In [2]:
pd.read_csv('ch05_02.csv')

   1  5  2  3    cat
0  2  7  8  5    dog
1  3  3  6  7  horse
2  2  2  8  3   duck
3  4  4  2  1  mouse

In [3]:
pd.read_csv('ch05_02.csv', header=None)

   0  1  2  3      4
0  1  5  2  3    cat
1  2  7  8  5    dog
2  3  3  6  7  horse
3  2  2  8  3   duck
4  4  4  2  1  mouse

In [4]:
pd.read_csv('ch05_02.csv', names=['white', 'red', 'blue', 'green', 'animal'])

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [5]:
pd.read_csv('ch05_02.csv', skiprows=[2], nrows=3, header=None)

   0  1  2  3     4
0  1  5  2  3   cat
1  2  7  8  5   dog
2  2  2  8  3  duck