In [1]:
import pandas as pd

In [2]:
pd.read_table('ch05_06.csv', sep=',', skiprows=[0,1,3,6])

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse