In [6]:
import sys
!{sys.executable} -m pip install pandas

Requirement already satisfied: pandas in c:\users\tien2\miniconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tien2\miniconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\tien2\miniconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.20.3 in c:\users\tien2\miniconda3\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\tien2\miniconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\tien2\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: Ignoring invalid distribution -ffi (c:\users\tien2\miniconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\tien2\miniconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\tien2\miniconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\tien2\miniconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\tien2\miniconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ffi (c:\users\tien2\miniconda3\lib\site-packages)

In [7]:
import pandas as pd

In [8]:
series = pd.Series([1,2,3,4,5])
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
series = pd.Series([1,2,3,4,5], index=['a','b','c','d','c'])
print(series)

a    1
b    2
c    3
d    4
c    5
dtype: int64

In [12]:
print(series[2])
print(series.iloc[2])

3
3

In [14]:
print(series['d'])
print(series.loc['d'])

4
4

In [16]:
dates1 = pd.date_range('20190525', periods=12)
print(dates1)

DatetimeIndex(['2019-05-25', '2019-05-26', '2019-05-27', '2019-05-28',
               '2019-05-29', '2019-05-30', '2019-05-31', '2019-06-01',
               '2019-06-02', '2019-06-03', '2019-06-04', '2019-06-05'],
              dtype='datetime64[ns]', freq='D')

In [19]:
data = {
    'name': ['Janet', 'Nad', 'Timothy', 'June', 'Amy'],
    'year': [2012, 2012, 2013, 2014, 2014],
    'reports': [6,13,14,1,7]
}

In [20]:
df = pd.DataFrame(data, index=['Singapore', 'China', 'Japan', 'Sweden', 'Norway'])

print(df)

              name  year  reports
Singapore    Janet  2012        6
China          Nad  2012       13
Japan      Timothy  2013       14
Sweden        June  2014        1
Norway         Amy  2014        7